// -----------------------------------------------------------------------------
// This file contains mixins for effective coding.
// -----------------------------------------------------------------------------

@mixin absTopLeft {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
} 

@mixin absCentered {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
} 