// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$clr--main: #39C3C5;
$clr--main--bg: #F4FEFE;
$clr--woo--bg: #f3f3f3;
$clr--secondary: #32b44a;
$clr--black: #022724;
$clr--body: #2c2e35;
$clr--menuItems: #d2d2d2;
$clr--border: #DADADA;
$clr--green: green;

// Fonts
$ff--sans: 'Montserrat', Tahoma, sans-serif;
$ff--serif: 'PlayFair Display', serif;

// Media Queries 
$mq--xxxl: 2000px;
$mq--xxl: 1600px;
$mq--xl: 1440px;
$mq--lg: 1200px;
$mq--md: 992px;
$mq--sm: 768px;
$mq--xs: 660px;
$mq--xxs: 360px;