// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    transition: all 500ms ease;
    
    &--main {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 5.5em;
        background: white;
        transition: all 500ms ease;
        // Responsive 
        @media screen and (max-width: $mq--lg) {
            height: 6em;
        }
    }

    &.is-fixed {
        position: fixed;
        height: 6.5em;
        transition: all 500ms ease;
        // Responsive
        @media screen and (max-width: $mq--lg) {
            height: 6em;
        }

        .navigation--main__brand {
            height: 1.25em;
            width: 11em;
        }
    }
}