// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  
  &.is-active {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
}

body {
  position: relative;
  overflow-x: hidden;

  &.is-active {
    // height: 100%;
    // overflow: hidden;
  }
}

::selection {
  color: white;
  background: $clr--main;
  opacity: 1;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $clr--main;
  text-decoration: none;
  transition: color 350ms ease;

  &:focus, &:hover {
    color: $clr--main;
  }
}

main {
    padding-top: 5em;
}

.is-animated {
  opacity: 0;
}

img {
  max-width: 100%;
}

.container-fluid {
  padding: 0;
}

hr {
  margin-bottom: 2rem;
}

@keyframes fiu {

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-60%);
  }
}

blockquote {
  position: relative;
  font-family: $ff--serif;
  padding: 1em 3em;
  border-left: 2px solid $clr--main;
  margin: 2rem -2.5rem;
  // Responsive
  @media screen and (max-width: $mq--sm) {
    padding: 1em 2em;
    margin: 2rem -1.25rem;
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:after {
    content: "“";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: flex;
    height: 3.125rem;
    color: $clr--main;
    font-size: 1.85rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    height: 2em;
    width: 2em;
    background: white;
    transform: translate(-50%, -50%);
    // Responsive
    @media screen and (max-width: $mq--xs) {
      width: .5em;
    }
  }
}

.btn-wrapper {
  display: flex;
}

.introText {
  position: relative;
  display: block;
  color: #00C2C5;
  font-family: $ff--sans;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 0;
  // Responsive

  &:before {
    content: "";
    position: absolute;
    top: -3.15em;
    left: -1.375em;
    z-index: 1;
    height: 7em;
    width: 7em;
    background: url("../img/icon-leaf.svg") center no-repeat;
    background-size: 100%;
  }
}

#scrollDown {
  position: absolute;
  left: 50%;
  bottom: 0;
  right: 15px;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 5em;
  transform: translateX(-50%);
  // Responsive
  @media screen and (max-width: $mq--sm) {
    height: 4.5em;
    width: 4.5em;
  }

  img {
    transform: translateY(0);
    transition: transform 500ms ease;
  }

  &:hover {
    cursor: pointer;

    img {
      transform: translateY(.5em);
      transition: transform 500ms ease;
    }
  }
}

.fixedCTA {
  position: fixed;
  z-index: 10;
  right: 2em;
  bottom: 2em;
  border-radius: 50px;
  transition: box-shadow 350ms ease;
  // Responsive
  @media screen and (max-width: $mq--xs) {
    right: 1em;
    bottom: 1em;
  }

  span {
    position: absolute;
    top: 50%;
    left: -50%;
    display: block;
    width: 12em;
    color: $clr--main;
    letter-spacing: .36px;
    text-align: right;
    font-size: .9375rem;
    font-weight: 500;
    transform: translate3D(-100%, -50%, 0);
    opacity: 0;
    visibility: hidden;
    transition: all 350ms ease;
    // Responsive
    @media screen and (max-width: $mq--sm) {
      display: none;
    }
  }

  a, button {
    position: relative;
    display: flex;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -400%;
      z-index: -1;
      display: block;
      height: 100%;
      width: 500%;
  }
  
    &:hover span {
      opacity: 1;
      visibility: visible;
      transition: all 350ms ease;
    }
  }

  &--fb {
    bottom: 7em;
  }

  &:hover, &:focus {
    cursor: pointer;
    box-shadow: 0px 20px 40px #39C3C533;
    transition: box-shadow 350ms ease;
  }
}

.pageShare {
  position: fixed;
  z-index: 10;
  right: 2em;
  bottom: 2em;
  // Responsive
  @media screen and (max-width: $mq--xs) {
    right: 1em;
    bottom: 1em;
  }

  &__header {
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 350ms ease;
  }

  &__body {
    position: absolute;
    top: -100%;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 1rem;
    }

    a {
      position: relative;
      display: flex;
      
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -400%;
        z-index: -1;
        display: block;
        height: 100%;
        width: 500%;
    }
    
      &:hover span {
        opacity: 1;
        visibility: visible;
        transition: all 350ms ease;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: -50%;
      display: block;
      width: 12em;
      color: black;
      letter-spacing: .36px;
      text-align: right;
      font-size: .875rem;
      font-weight: 500;
      transform: translate3D(-100%, -50%, 0);
      opacity: 0;
      visibility: hidden;
      transition: all 350ms ease;
      // Responsive
      @media screen and (max-width: $mq--sm) {
        display: none;
      }
    }
  }

  &:hover, &:focus {
    cursor: pointer;

    .pageShare__header {
      box-shadow: 0px 20px 40px #39C3C533;
      transition: box-shadow 350ms ease;
    }
    
    .pageShare__body {
      animation: fiu 500ms ease forwards;
    }
  }
}

.accordion {
  display: flex;
  flex-direction: column;

  &__body {
    display: none;
  }
}

img:not([src]){
  opacity: 0;
}

img[src] {
  opacity: 1;
  -webkit-animation: fadeIn 350ms ease forwards;
  animation: fadeIn 350ms ease forwards;
}

@media print {
  #header, #contact {
    display: none;
  }

  #main .article--singleRecipe  {

    .article__header {
      padding-top: 0;
      margin-top: -3rem;

      .article__header__img {
        margin-top: -3rem;
      }

      .col-12, .introText, ul {
        display: none;
      }

      h1 {
        margin-bottom: 1rem;
      }
    } 

    .article__footer {
      display: none;
    }

    .article--singleRecipe__recommendation {
      background: none;
      padding: 0;
    }
  }

  .aside--preFooter {
    display: none;
  }
  
  .swiper-container-recipe {
    display: block !important;
  
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    
      figure {
        max-width: 31%;
        flex: 0 1 31%;
        margin: 0 2% 2rem 0;
    
        &:nth-child(3n+1){
          margin-right: 0;
        }
      }
    }
  
    .swiper-nav {
      display: none;
    }
  }

  img {
    animation: none;
    opacity: 1;
  }
}