// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Montserrat
@font-face {
     font-family: "Montserrat";
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/mont-regular.ttf'); 
     // font-display: swap;
 }

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/mont-medium.ttf'); 
    // font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/mont-semibold.ttf'); 
    // font-display: swap;
}

// Athena
@font-face {
    font-family: "Butler";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/butler.woff'); 
    // font-display: swap;
}

@font-face {
    font-family: "Butler";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/butler-medium.woff'); 
    // font-display: swap;
}
@font-face {
    font-family: "Butler";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/butler-bold.woff'); 
    // font-display: swap;
}
