// -----------------------------------------------------------------------------
// This file contains styles of animations
// -----------------------------------------------------------------------------

@keyframes flying {

  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(3.5px);
  }

  100% {
      transform: translateY(0);
  }
}

@keyframes lighting {
  0% {
      opacity: 0.2;
  }

  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 0.2;
  }
}

@keyframes loading  {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes showImg  {

    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes fadeIn  {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {

    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeOut  {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scaleIn  {

    from {
        transform: scale(1.1) translate3D(0, 0, 0);
    }

    to {
        transform: scale(1) translate3D(0, 0, 0);
    }
}