/**
 * Basic typography style for copy text
*/

body {
    color: black;
    font-size: 100%;
    font-family: $ff--sans;
    font-weight: 400;
    line-height: 2.15;
    letter-spacing: .36px;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: $ff--serif;
    font-weight: 500;
    line-height: 1.275;
}

h1 {
    font-size: 3.375rem;
    font-weight: normal;
    // Responsive
    @media screen and (max-width: $mq--sm) {
        font-size: 2.25rem;
    }
}

h2 {
    font-size: 2.75rem;
    // Responsive
    @media screen and (max-width: $mq--sm) {
        font-size: 2.25rem;
    }
}

h3 {
    font-size: 2.25rem;
    // Responsive
    @media screen and (max-width: $mq--xs) {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.375rem;
}

h6 {
    font-size: 1.15rem;
}

p {
    font-weight: 400;
    font-size: 0.9375rem;
    margin-bottom: 2rem;
    // Responsive
    @media screen and (max-width: $mq--sm) {
        font-size: .875rem;
    }
}

li {
    // Responsive
    @media screen and (max-width: $mq--sm) {
        font-size: .875rem;
    }
}