
.box {
    position: relative;
    
    &--1 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    &--2 {
        flex: 0 1 47.5%;
        max-width: 47.5%;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
    
    &--3 {
        flex: 0 1 31%;
        max-width: 31%;
        // Responsive
        @media screen and (max-width: $mq--md) {
            flex: 0 1 48%;
            max-width: 48%;

        }
        @media screen and (max-width: $mq--xs) {
            flex: 1 1 100%;
            max-width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &--4 {
        flex: 0 1 23.75%;
        max-width: 23.75%;
        // Responsive
        @media screen and (max-width: $mq--md) {
            flex: 0 1 47.5%;
            max-width: 47.5%;

            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 5%;
            }
        }
        @media screen and (max-width: $mq--xs) {
            flex: 1 1 100%;
            max-width: 100%;

            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                margin-bottom: 2rem;
            }
        }
    }
}


.boxes {
    display: flex;
    flex-wrap: wrap;
    
    &--between {
        justify-content: space-between;
    }

    &--start {
        justify-content: flex-start;

        .box--2 {
            max-width: 49.125%;
            flex: 0 1 49.125%;
            margin-bottom: 2rem;
            // Responsive
            @media screen and (max-width: 900px) {
                max-width: 100%;
                flex: 1 1 100%;
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &:nth-child(odd) {
                margin-right: 1.75%;
                // Responsive
                @media screen and (max-width: $mq--sm) {
                    margin-right: 0;
                }
            }
        }

        .box--3 {
            margin-right: 3.5%;
            // Responsive
            @media screen and (max-width: $mq--md) {
                flex: 0 1 47.5%;
                max-width: 47.5%;
                margin-right: 5%;
                margin-bottom: 5%;
                
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
            @media screen and (max-width: $mq--sm) {
                display: block;
                flex: 1 1 100%;
                max-width: 25em;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2rem;
    
                &:nth-child(even), &:nth-child(3n+3) {
                    margin-right: auto;
                }
            }
            @media screen and (max-width: $mq--xs) {
                flex: 1 1 100%;
                max-width: 100%;
                margin-right: 0;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &:nth-child(3n+3) {
                @media screen and (min-width: 992.01px) {
                    margin-right: 0;
                }
            }
        }
    }
}