// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


button {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.btn {
    position: relative;
    letter-spacing: 2.08px;
    line-height: 1;
    text-transform: uppercase;
    padding: .9375em 1.875em;

    &--primary {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid black;
        transition: color 350ms ease;

        span {
            position: relative;
            z-index: 1;
            line-height: 1;
            font-size: 0.8125rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            display: block;
            height: 100%;
            width: 0;
            background: black;
            transition: width 350ms ease;
        }

        &:hover, &:focus {
            color: white;

            span {
                color: white;
                transition: color 350ms ease;
            }

            &:before {
                width: 100%;
                border: 1px solid black;
                transition: width 350ms ease;
            }
        }
    }

    &--secondary {
        font-size: 0.8125rem;
        font-weight: bold;
        color: white;
        background-color: $clr--main;
        padding: 1.265em 1.875em;
        border: 1px solid $clr--main;
        transition: 350ms ease;

        &:hover, &:focus {
            color: white;
            background-color: #2fa7a9;
            border: 1px solid #2fa7a9;
            transition: 350ms ease;
        }
    }

    &--third {

        span {
            color: #A8894A;
            transition: color 350ms ease;
        }

        &:before {
            @include absTopLeft;
            z-index: -1;
            border: 1px solid #A8894A;
        }

        &:after {
            @include absTopLeft;
            z-index: 0;
            background: transparent linear-gradient(91deg, #EDD38E 0%, #A8894A 100%);
            opacity: 0;
            transition: opacity 350ms ease;
        }

        &:hover {

            span {
                color: white;
                transition: color 350ms ease;
            }

            &:after {
                opacity: 1;
                transition: opacity 350ms ease;
            }
        }
    }
}