.chocolat-zoomable {
	&.chocolat-zoomed {
		cursor: zoom-out;
	}
	.chocolat-img {
		cursor: zoom-in;
	}
}
.chocolat-open {
	overflow: hidden;
}
.chocolat-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: black;
	display: none;
}
.chocolat-wrapper {
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	z-index: 16;
	color: #fff;
	.chocolat-left {
		position: absolute;
		left: 10%;    
		width: 2.5em;
		height: 2em;
		top: 50%;
		cursor: pointer;
		background: url(../img/arrow-left.svg) center no-repeat;
		background-size: contain;
		z-index: 17;
		opacity: 0.7;
    display: none;
    filter: brightness(1) invert(1);
		transform: translateY(-50%);
		transition: opacity 500ms ease;
		// Responsive
		@media screen and (max-width: $mq--md) {
			opacity: 1;
		}
		@media screen and (max-width: $mq--xs) {
      width: .375em;
      height: 50px;
      left: 45%;
      bottom: 0;
      top: auto;
		}

		&.active {
			display: block;
		}

		&:hover {
			opacity: 1;
		}
	}
	.chocolat-right {
		position: absolute;
		right: 10%;    
		width: 2.5em;
		height: 2em;
		top: 50%;
		cursor: pointer;
		background: url(../img/arrow-right.svg) center no-repeat;
		background-size: contain;
		z-index: 17;
		opacity: 0.7;
    display: none;
    filter: brightness(1) invert(1);
		transform: translateY(-50%);
		transition: opacity 500ms ease;
		// Responsive
		@media screen and (max-width: $mq--md) {
			opacity: 1;
		}
		@media screen and (max-width: $mq--xs) {
      width: .375em;
      height: 50px;
      right: 45%;
      bottom: 0;
      top: auto;
		}

		&.active {
			display: block;
		}
		&:hover {
			opacity: 1;
		}
	}
	.chocolat-top {
		position: absolute;
		top: 0px;
		right: 0;
		left: 0;
		line-height: 50px;
		height: 50px;
		overflow: hidden;
		z-index: 17;
		margin-bottom: 10px;
	}
	.chocolat-close {
		width: 50px;
		height: 50px;
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 1.5%;
		z-index: 10000;
		background: url(../img/close.svg) center no-repeat;
	}
	.chocolat-bottom {
		position: absolute;
		top: 0;
		left: 1.5%;
		right: 0;
		z-index: 17;
		height: 40px;
		width: 50%;
		color: #A8A8A8;
		font-size: 1rem;
		line-height: 40px;
		letter-spacing: 0.8em;
		text-align: left;
		margin-top: 10px;
		// Responsive
		@media screen and (max-width: $mq--md) {
			margin-top: 5px;
		}

		.is-active {
			color: white;
		}
	}
	.chocolat-set-title {
		position: fixed;
		left: 1.5%;
		bottom: 1em;
		display: inline-block;
		width: 100%;
		font-weight: 300;
		line-height: 1.65;
		letter-spacing: 0;
		padding-left: 15px;
		// Responsive
		@media screen and (max-width: $mq--md) {
			left: 50%;
			bottom: 2em;
			max-width: 30em;
			text-align: center;
			transform: translateX(-50%);
			padding-left: 0;
		}
		@media screen and (max-width: $mq--xs) {
			max-width: 20em;
			font-size: 0.875rem;
		}
	}
	.chocolat-pagination {
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: 15px;
		// Responsive
		@media screen and (max-width: $mq--md) {
			font-size: 0.875rem;
			line-height: 1;

			span {
				font-size: 0.875rem;
			}
		}
	}
	.chocolat-fullscreen {
		width: 16px;
		height: 40px;
		// background: url(../img/fullscreen.svg) 50% 50% no-repeat;
		display: block;
		margin: auto;
		cursor: pointer;
		float: right;
		display: none;
	}
	.chocolat-description {
		display: inline-block;
		float: left;
	}
}
.chocolat-loader {
	height: 32px;
	width: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	z-index: 11;
	// background: url(../img/loader.gif);
	display: none;
}
.chocolat-content {
	position: fixed;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
	z-index: 14;
	text-align: left;
	.chocolat-img {
		position: absolute;
		width: 100%;
		height: 100%;

	}
}
body {
	&.chocolat-open {
		& > .chocolat-overlay {
			z-index: 15;
		}
		& > .chocolat-loader {
			z-index: 15;
		}
		& > .chocolat-content {
			z-index: 17;
		}
	}
}
.chocolat-in-container .chocolat-wrapper,
.chocolat-in-container .chocolat-content,
.chocolat-in-container .chocolat-overlay {
	position: absolute;
}
.chocolat-in-container {
	position: relative;
}


// Swiper
.swiper-container-recipe {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // Responsive 
  @media screen and (min-width: $mq--xxxl) {
    // width: 200%;
  }
  @media screen and (max-width: $mq--lg) {
    // width: 150%;
  }
  @media screen and (max-width: $mq--sm) {
    width: 100%;
  }
}

.swiper-wrapper {
  display: -webkit-box;
  justify-content: flex-start;
  align-items: center;
}

.swiper-slide {
  position: relative;
  display: flex;
  height: 100%;
  text-align: center;
  background: #fff;
  margin-left: 0;
  overflow: unset;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  flex-direction: column;

  &_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  figcaption {
    color: black;
    font-size: 0.8125rem;
    text-align: left;
    font-style: italic;
    margin-top: 0.875rem;
    opacity: 1;
  }
}

.swiper-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	display: flex;
	width: 100%;
	max-width: 1240px;
	transform: translate(-50%, -50%);
	// Responsive
	@media screen and (max-width: $mq--lg) {
		padding: 0 2%;
	}
	@media screen and (max-width: $mq--md) {
		padding: 0;
	}
	@media screen and (max-width: $mq--xs) {
		z-index: 3;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

  .next {
    margin-left: auto;
  }

  .next, .prev {
    cursor: pointer;
    color: $clr--main;
    font-size: 2rem;
    transition: opacity 350ms ease;

    &:focus {
      outline: none;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    height: 1.25em;
    width: 1.25em;
	// Responsive
	@media screen and (max-width: $mq--xs) {
		width: .75em;
	}

    &.next, &.prev {
      transition: 350ms ease;

      &:hover { 
        background: $clr--main--bg;
        transition: 350ms ease;
      }
    }
    
    img {
      width: .25em;
    }
  }
}

.swiper-button-disabled {
  opacity: 1;
  transition: opacity 350ms ease;
}

// HP testimonials
.swiper-container-hp {
  max-width: 1012px;
  margin: auto;
  overflow: hidden;

  .swiper-wrapper {
    position: relative;
    z-index: 3;
    max-width: 1012px;
    margin: auto;
  }

  .swiper-nav {
    z-index: 2;
    max-width: 1140px;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);

    > div {
      display: flex;
      justify-content: center;
      height: 1.25em;
      width: 1.25em;
      // Responsive
      @media screen and (max-width: $mq--xs) {
        width: .75em;
      }
  
      &.next, &.prev {
        transition: 350ms ease;

        &:hover { 
          background: $clr--main--bg;
          transition: 350ms ease;
        }
      }
      
      img {
        width: .25em;
      }
    }
  }

  .swiper-slide {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease;

    &-prev, &-next {
      opacity: 0;
      visibility: hidden;
    }
  }

  .swiper-button-disabled {
    opacity: .35;
  }
}