// -----------------------------------------------------------------------------
// This file contains styles of modals
// -----------------------------------------------------------------------------

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    display: none;
    height: 100%;
    width: 100%;    
    overflow: hidden;

    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        display: -webkit-box;
        justify-content: center;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        max-width: 50em;
        background: $clr--main;
        border: 7px solid white;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        overflow-y: scroll;
        // Responsive
        @media screen and (max-width: $mq--lg) {
            max-width: 90%;
        }
        @media screen and (max-width: $mq--xs) {
            max-width: 90%;
            width: 100%;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        background: $clr--secondary;
        padding: 2em;

        .modal__logo {
            height: 3.5em;
            filter: brightness(0) invert(1);
            // Responsive 
            @media screen and (max-width: $mq--md) {
                height: 3em;
            }
            @media screen and (max-width: $mq--sm) {
                display: none;
            }
        }

        h2 {
            font-size: 1.75rem;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 1.5rem;
            // Responsive 
            @media screen and (max-width: $mq--md) {
                font-size: 1.75rem;
            }
        }

        .modal__nonstop {
            height: 3.5em;
            // Responsive 
            @media screen and (max-width: $mq--md) {
                height: 3em;
            }
            @media screen and (max-width: $mq--sm) {
                display: none;
            }
        }
    }

    &__body {
        padding: 3em 10% 1.5em;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            padding: 3em 3em 1.5em;
        }

        a, p {
            color: white;
            font-size: 1.125rem;
        }

        input, textarea {
            position: relative;
            display: block;
            width: 100%;
            color: $clr--body;
            font-size: 1rem;
            font-weight: 400;
            background: white;
            padding: .75em 1em;

            &::placeholder {
                font-size: 1rem;
            }
        }
    }

    .modal__close {
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5em;
        width: 2.5em;
        opacity: 1;

        img {
            position: relative;
            display: flex;
            border-radius: 50%;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            display: flex;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            transition: opacity 350ms ease;
        }
    }

    &__overlay {
        position: fixed;
        z-index: 90;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba($clr--main, .85); 
    }

    .divider {
        height: 5px;
        width: 100%;
        background: $clr--secondary;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .btn {
        position: relative;
        
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 17.5%;
            z-index: 1;
            display: flex;
            height: 1.25em;
            width: 2em;
            background: url('../img/arrow-right.svg') center no-repeat;
            background-size: contain;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                content: none;
            }
        }
    }
}