// -----------------------------------------------------------------------------
// This file contains styles of navigations
// -----------------------------------------------------------------------------

.navigation {
    display: flex;

    &--main {
        position: relative;
        height: 100%;
        align-items: center;
        // Responsive 
        @media screen and (max-width: $mq--md) {
            justify-content: flex-start;
            overflow: hidden;
        }

        // .navigation--main__brand
        &__brand {
            position: relative;
            z-index: 2;
            display: flex;
            height: 1.25em;
            width: 11em;
            background: url("../img/logo.svg") left center no-repeat;
            background-size: contain;
        }

        // .navigation--main__menu
        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: auto;
            margin-left: auto;
            // Responsive 
            @media screen and (max-width: $mq--lg) {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 40%;
                background: #F1FEFE;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                padding: 3em 0 2em 3em;
                margin-left: 0;
                transform: translateX(-100%);
                transition: all 500ms ease;
            }
            @media screen and (max-width: $mq--md) {
                width: 57.5%;
            }
            @media screen and (max-width: $mq--sm) {
                padding-left: 0;
            }
            @media screen and (max-width: $mq--xs) {
                width: 100%;
            }

            > ul {
                display: flex;
                height: 100%;
                align-items: center;
                // Responsive 
                @media screen and (max-width: $mq--lg) {
                    height: auto;
                    width: 100%;
                    align-items: none;
                    overflow: scroll;
                }
            }

            li {
                position: relative;
                display: inline-flex;
                height: 100%;
                margin-left: 3.6875rem;
                // Responsive 
                @media screen and (max-width: $mq--xl) {
                    margin-left: 2.5rem;
                }
                @media screen and (max-width: $mq--lg) {
                    position: static;
                    display: block;
                    height: auto;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                    transform: none;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @media screen and (max-width: $mq--sm) {
                    width: 100%;
                    padding: 0 10%;
                    margin-bottom: 1.25rem; 
                }

                a {
                    position: relative;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    color: black;
                    font-family: $ff--sans;
                    font-size: .815rem;
                    font-weight: 500;
                    letter-spacing: 2.08px;
                    text-transform: uppercase;
                    // Responsive 
                    @media screen and (max-width: $mq--xl) {
                        font-size: 0.75rem;
                    }
                    @media screen and (max-width: $mq--lg) {
                        width: 16em;
                        font-size: 1rem;
                    }
                    @media screen and (max-width: $mq--md) {
                        position: static;
                        display: block;
                        background: none;

                        &:focus {
                            color: $clr--main;
                        }
                    }

                    &:hover {
                        color: $clr--main;
                    }
                }

                &.current-menu-item a {
                    color: $clr--main;
                }

                &.coaching a {
                    max-width: 16em;
                    // Responsive 
                    @media screen and (max-width: $mq--lg) {
                        max-width: 100%;
                    }
                }

                &.stories {
                    display: none;
                    // Responsive 
                    @media screen and (max-width: $mq--lg) {
                        display: block;
                    }
                        
                }

                &:first-child {
                    margin-left: 0;
                }
            }     

            // Submenu custom styling
            .sub-menu {
                // Responsive 
                @media screen and (min-width: $mq--md) {
                    position: absolute;
                    top: 4em;
                    z-index: 1;
                    display: none;
                    width: 16.5em;
                    min-height: auto;
                    text-align: left;
                    background: white;
                    padding-bottom: 1.25em;
                    padding: 1.5em .5em 1em .375em;
                    overflow: hidden;

                    li {
                        position: relative;
                        display: block;
                        width: 100%;
                        margin-left: 1rem;

                        a {
                            display: block;
                            width: 100%;
                            color: black;
                            font-weight: 500;
                            padding: 15px 20px;

                            &:before {
                                content: none;
                            }
                        }

                        &#menu-item-358 a {
                            padding-right: 16%;
                        }

                        &:hover {
                            cursor: pointer;

                            a {
                                color: $clr--main;
                            }
                        }
                    }
                }
                @media screen and (max-width: $mq--md) {
                    display: none;
                }
            }

            // Every menu item containing a submenu
            li.menu-item-has-children {

                &:hover {

                    .sub-menu {
                        // Responsive
                        @media screen and (min-width: $mq--lg) {
                            display: block;
                        }
                    }
                }
            }
        
            &.is-active {
                opacity: 1;
                visibility: visible;
                pointer-events: unset;
                transform: translateX(0);
                transition: all 500ms ease;
            }
        }

        // .navigation--main__toggle
        &__toggle {
            position: relative;
            z-index: 100;
            display: none;
            background: none;
            padding: 0;
            border: 0;
            margin-left: auto;
            box-shadow: none;
            // Responsive
            @media screen and (max-width: $mq--lg) {
                display: block;
            }

            span {
                display: flex;
                width: 2.5em;
                height: 2px;
                background: black;
                margin-bottom: .75rem;
                transition: all 500ms ease;

                &:last-child {
                    width: 1.75em;
                    margin-bottom: 0;
                    margin-left: auto;
                }
            }

            &:before {
                @include absCentered;
                z-index: -1;
                display: block;
                height: 5em;
                width: 5em;
                border-radius: 50%;
            }

            &.is-active {
                z-index: 1001;
                
                span {
                    background: black;
                    transition: all 500ms ease 300ms;
    
                    &:first-child {
                        width: 1.75em;
                        transform: rotate(-45deg);
                        transform-origin: center center;
                    }
    
                    &:last-child {
                        margin-top: -14px;
                        transform: rotate(45deg);
                        transform-origin: center center;
                    }
                }
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }
}