// -----------------------------------------------------------------------------
// This file contains styles of tables
// -----------------------------------------------------------------------------

.table {
    width: 100%;
    font-size: .875rem;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;

    tr th,
    tr td {
        border-right: 1px solid $clr--border;
        border-bottom: 1px solid $clr--border;
        padding: 1em;
    }

    tr th:first-child,
    tr td:first-child {
        border-left: 1px solid $clr--border;
    }

    tr th {
        border-top: 1px solid $clr--border;
        text-align: left;
    }
}