// -----------------------------------------------------------------------------
// This file contains styling of template for every page and post
// -----------------------------------------------------------------------------

// Default styles
.article {
    position: relative;

    &__header {

        h1 {
            font-size: 4rem;
            font-weight: normal;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                font-size: 2.25rem;
            }
        }
    }

    &__content {

        ul {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;
        
          li {
              position: relative;
              padding-left: 2em;
              margin-bottom: 1rem;
          
              &:before {
                  content:"●";
                  position: absolute;
                  top: -.25em;
                  left: 0;
                  display: block;
                  color: $clr--main;
                  font-size: 1.125rem;
              }
          }

        }

        li {
            font-size: .9375rem;
            line-height: 2.15;
            letter-spacing: 0.36px;   
    
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    
        ol {
            padding-left: 1.15em;
            margin-bottom: 0;
    
            li {
                margin-bottom: 2rem; 
                padding-left: 1.25em;
            }
        }
    
        ul {
    
            li {
                list-style: inherit;
                margin-bottom: 0;
            }
        }
    }

    .section--hello {

        h1 {
            max-width: 10em;
            margin-bottom: 9rem;
        }
    }
}

// 404 error page
.article--404  {

    .section--hello {
        
        h1, p {
            // Responsive   
            @media screen and (min-width: $mq--sm) {
                color: white;
            }
        }

        p {
            margin-bottom: 2.5rem;
        }
    }

    .article__header .col-md-12 {
        height: auto;
    }

    .article__content {
        padding-top: 0;
    }
}

// PriceList
.article--priceList {

    header {
        margin-bottom: 8.25rem;
    }

    &__single {
        margin-bottom: 10rem;

        ul {
            display: none;
            margin-top: 2rem;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 1rem;
            }
        }

        h2 {
            font-size: 2rem;
            letter-spacing: 1.15px;
            margin: 3rem 0;
        }

        h3 {
            display: inline-block;
            position: relative;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                display: block;
                width: 100%;
                position: relative;
                padding-right: 5%;
            }

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: -2em;
                display: block;
                width: .875rem;
                height: .75rem;
                background: url("../img/icon-more-blue.svg") center no-repeat;
                background-size: contain;
                margin-top: -0.4375rem;
                transform: rotate(0deg);
                transition: transform 350ms ease;
                // Responsive 
                @media screen and (max-width: $mq--sm) {
                    top: .5em;
                    right: 0;
                }
            }
        }

        h3, h4 {
            font-size: 1.125rem;
            letter-spacing: 0.43px;
            font-family: $ff--sans;
            font-weight: 500;
        }

        h4 {
            margin: auto 0;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                font-size: .9735rem;
                margin: 1rem 0 0;
            }
        }

        .btn-wrapper {
            justify-content: flex-end;
            margin-top: 4rem;
        }

        .col-md-4, .col-md-8 {
            display: -webkit-box;
            flex-direction: column;
        }

        .row {
            cursor: pointer;
            position: relative;
            padding: 2em 0;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 15px;
                z-index: 1;
                height: 1px;
                width: calc(100% - 30px);
                background: rgba(black, .08%);
                // Responsive 
                @media screen and (max-width: $mq--xl) {
                    right: 10%;
                }
            }

            &:first-child {
                padding-top: 0;
            }

            &.is-active h3:before {
                transform: rotate(180deg);
                transition: transform 350ms ease;
            }
        }

        .accordion__header {
            display: flex;
            justify-content: space-between;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                justify-content: flex-start;
                flex-direction: column;
            }
        }

        &:not(:first-child) .introText {
            margin-bottom: 3rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Recipes
.article--recipes {
    padding-top: 7em;

    .introText {
        margin-bottom: 3.5rem;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 2.37px;
        margin-bottom: 5rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            font-size: 2.25rem;
            margin-bottom: 3rem;
        }
    }

    h2 {
        position: relative;
        font-size: 0.875rem;
        font-weight: bold;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-family: $ff--sans;
        line-height: 1.5;
        padding-right: 15%;
        margin-bottom: 0;

        &:before {
            content: "";
            position: absolute;
            top: .75em;
            right: 0;
            display: block;
            width: .875rem;
            height: .75rem;
            background: url("../img/icon-more-blue.svg") center no-repeat;
            background-size: contain;
            margin-top: -0.4375rem;
            transform: rotate(0deg);
            transition: transform 350ms ease;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                top: .5em;
                right: 0;
            }
        }
    }

    .article--recipes__sorting {
        display: flex;

        #orderBy {
            position: relative;
            margin-left: auto;
            // Responsive
            @media screen and (max-width: $mq--xs) {
                display: none;
            }

            p {
                display: flex;
                flex-direction: row;
                justify-content: center;

                span {
                    margin: 0 1rem;
                }

                img {
                    width: .75rem;
                }
            }

            ul {
                position: absolute;
                top: 3em;
                right: 0;
                z-index: 10;
                display: none;
                width: auto;
                min-width: 8.175em;
                background-color: #fff;
                padding: 0;

                li {
                    cursor: pointer;
                    padding: .5em 1.5em;

                    &:before {
                        content: none;
                    }

                    &.is-selected, &:hover {
                        background: $clr--main--bg;
                    }
                }
            }

            &:hover ul {
                display: block;
            }
        }
    }

    .col-lg-4 {
        max-width: 0 1 27.55%;
        flex: 0 1 27.55%;
        // Responsive
        @media screen and (max-width: $mq--md) {
            flex: 0 1 35%;
            max-width: 35%;
        }
        @media screen and (max-width: 900px) {
            flex: 0 1 45%;
            max-width: 45%;
        }
        @media screen and (max-width: $mq--xs) {
            flex: 0 1 100%;
            max-width: 100%;

            br {
                display: none;
            }
        }
    
        form {
            position: sticky;
            top: 6.5em;
        }
    }

    .col-lg-8 {
        max-width: 72.45%;
        flex: 0 1 72.45%;
        padding-left: 1px;
        // Responsive
        @media screen and (max-width: $mq--md) {
            flex: 0 1 65%;
            max-width: 65%;
        }
        @media screen and (max-width: 900px) {
            flex: 0 1 55%;
            max-width: 55%;
        }
        @media screen and (max-width: $mq--xs) {
            flex: 0 1 100%;
            max-width: 100%;
            padding-left: 15px;
            margin-top: 2rem;
        }
    }

    .boxes--start .box {

        h3 {
            max-width: 15em;
            font-size: 1.125rem;
            letter-spacing: 0.43px;
            text-align: center;
            font-family: $ff--sans;
            font-weight: 500;
            margin: .75rem auto 0;
        }

        &__header {
            height: 14.375em;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(1) translate3d(0, 0, 0);
                transition: transform 500ms ease;
            }
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: block;
            height: 100%;
            width: 100%;

            &:hover + .box__header img {
                transform: scale(1.25) translate3d(0, 0, 0);
                transition: transform 500ms ease;
            }
        }

        &__pagination {
            text-align: center;
            margin-top: 2rem;

            .next, .prev {
                display: none;
            }

            span, a {
                font-size: 0.9375rem;
                padding: .75em;
            }

            a {
                color: black;

                &:hover {
                    color: $clr--main;
                }
            }

            span {
                color: $clr--main;
            }
        }

        &__premium {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(white, .85);
            padding-bottom: 2em;

            h4 {
                font-size: 1.125rem;
                font-family: $ff--sans;
                letter-spacing: .43px;
                font-weight: 500;
                margin: .5rem 0 .25rem;
            }

            a {
                color: black;
                font-size: .8125rem;
                text-decoration: underline;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 4;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.is-premium .box__premium {
            display: flex;
        }
    }
}

// Events
.article--events {

    .article__header {
        margin-bottom: 10rem;
    }

    .box {
        display: flex;
        flex-direction: row;
        margin-bottom: 7.5rem;
        // Responsive 
        @media screen and (max-width: $mq--sm) {
            flex-direction: column;
        }

        .introText {
            margin-bottom: 4rem;
        }

        h2 {
            max-width: 16.5em;
            font-size: 2rem;
            letter-spacing: 1.15px;
            margin-bottom: 2rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                max-width: 12em;
                font-size: 1.5rem;
            }
        }

        p {
            max-width: 37em;
            margin-bottom: 3rem;
        }

        &__header {
            max-width: 37%;
            flex: 0 1 37%;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                flex: 1 1 100%;
                max-width: 100%;
                height: 25em;
            }
            @media screen and (max-width: $mq--sm) {
                height: 20em;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__body {
            max-width: 63%;
            flex: 0 1 63%;
            padding: 7em 4.5em 5em;
            border: 1px solid $clr--border;
            border-left: none;
            transition: all 350ms ease;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                flex: 1 1 100%;
                max-width: 100%;
                border-left: 1px solid $clr--border;
                border-top: none;
            }
            @media screen and (max-width: $mq--xs) {
                padding: 7.5em 3em 3em;
            }

            &--up {
                position: relative;

                span {
                    position: absolute;
                    top: -4em;
                    right: 0;
                    font-size: .6875rem;
                    font-weight: 500;
                    letter-spacing: 1.76px;
                    text-transform: uppercase;
                    background: $clr--border;
                    padding: .85em 2.125em .675em;
                    border-radius: 30px;
                    // Responsive 
                    @media screen and (max-width: $mq--lg) {
                        top: -6em;
                        right: -1em;
                    }
                    @media screen and (max-width: $mq--sm) {
                        top: -7.5em;
                    }
                }
            }
        }

        &:hover .box__body {
            background: $clr--main--bg;
            border-color: $clr--main--bg;
            transition: all 350ms ease;
        }
    }

    .section--cta {

        &__content {
            position: relative;
            background: url('../img/hello_bg.jpg') center no-repeat;
            background-size: cover;
            // Responsive
            @media screen and (max-width: $mq--xs) {
                height: auto;
                padding: 3em 1.5em;

                h2 {
                    font-size: 1.5rem;
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: flex;
                width: 100%;
                height: 100%;
                background: transparent linear-gradient(90deg, #F4F5F2 0%, rgba(244, 245, 242, .5) 95%, rgba(244, 245, 242, 0.25) 100%) 0% 0% no-repeat padding-box;
            }

            h2, p, .btn-wrapper {
                position: relative;
                z-index: 2;
            }
        }
    }
}

// Blog
.article--blog {

    header {
        margin-bottom: 10rem;
    }

    .boxes--start .box {
        display: block;

        h3 {
            max-width: 15em;
            font-size: 1.125rem;
            letter-spacing: 0.43px;
            text-align: center;
            font-family: $ff--sans;
            font-weight: 500;
            margin: .75rem auto 0;
        }

        &__header {
            height: 14.375em;
            padding: 0;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
                transform: scale(1) translate3d(0, 0, 0);
                transition: transform 500ms ease;
            }
        }

        &__link {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: block;
            height: 100%;
            width: 100%;

            &:hover + .box__header img {
                transform: scale(1.25) translate3d(0, 0, 0);
                transition: transform 500ms ease;
            }
        }
    }
}

// Contact
.article--contact {
    position: relative;

    .article__header {
        margin-bottom: 10rem;
    }

    .article__content {
        padding-bottom: 7em;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            padding-bottom: 3em;
        }
    }

    .section--hello h1 {
        max-width: 10.25em;
    }

    .introText {
        margin-bottom: 5rem;
    }

    &__intro {

        h2 {
            max-width: 14rem;
            font-size: 2rem;
            margin-bottom: 1.5rem;

            & + p {
                max-width: 22em;
            }
        }

        li a {
            font-weight: 500;
            font-size: 1.125rem;

            img {
                height: .875rem;
                width: auto;
                margin-right: 1rem;
            }
        }
    }

    &__address {
        position: relative;
        margin-bottom: 7.5rem;

        .col-md-9 {
            position: static;
        }

        .box {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 2;
            max-width: 25.5em;
            background: white;
            padding: 4.5em;
            box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.078);
            transform: translateY(-50%);
            // Responsive
            @media screen and (max-width: $mq--sm) {
                position: static;
                background-color: transparent;
                text-align: center;
                padding: 0;
                max-width: 100%;
                margin-top: 4rem;
                box-shadow: none;
                transform: none;

                p {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    
            p {
                max-width: 16em;
                margin-bottom: 1.5rem;
            }
    
            a {
    
                span {
                    color: black;
                    text-decoration: underline;
                    margin-right: 1.5rem;
                }
    
                &:hover span {
                    color: $clr--main;
                }
            }
        }
    }

    &__socials {
        display: flex;

        ul {
            margin-left: auto;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-right: auto;
            }

            li {
                display: inline-flex;

                &:first-of-type {
                    margin-right: 1.5rem;
                }
            }
        }
    }

    &__info {
        // Responsive
        @media screen and (max-width: $mq--sm) {
            text-align: center;
        }

        ul {
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
        }
    }

    hr {
        border-color: rgba(black, .08);
        margin: 7.5rem 0 9rem;
    }
    h3 {
        font-family: $ff--sans;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.75;
        margin-bottom: 1.5rem;
    }

    h4 {
        font-family: $ff--sans;
        font-size: 0.9375rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    ul {

        li {
            padding-left: 0;

            &:before {
                content: none;
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: flex;
        width: 100%;
        height: 40%;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5FEFE 100%) 0% 0% no-repeat padding-box;
    }

    .wpcf7 {
        padding-left: 2.5%;
        // Responsive
        @media screen and (max-width: $mq--md) {
            margin-top: 5rem
        }

        br {
            display: none;
        }    

        p {
            margin-bottom: 0;
        }

        .box {
            position: relative;
            display: flex;
            margin-bottom: 2.5rem;
            // Responsive
            @media screen and (max-width: $mq--md) {
                margin-bottom: 3.5rem;
            }
            @media screen and (max-width: $mq--xs) {
                margin-bottom: 2.25rem;
            }

            span {
                width: 100%;
            }

            &--shorter {
                max-width: 90%;
            }

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                display: block;
                height: 1px;
                width: 100%;
                background: rgba(#707070, .2);
                // Responsive
                @media screen and (max-width: $mq--sm) {
                    background: rgba(#707070, .5);
                }
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
                display: block;
                height: 1px;
                width: 0;
                background: $clr--main;
                border-radius: 50px;
                transition: width 500ms ease;
            }

            &:hover:after, &:focus:after{
                width: 100%;
                transition: width 500ms ease;
            }

            &--1 {
                width: 100%;
                transition: width 800ms ease;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    margin-top: 0;
                    margin-bottom: 2em;
                }

                &:hover:after, &:focus:after{
                    width: 100%;
                    transition: width 800ms ease;
                }
            }
        }
                
        input[type="text"], textarea {
            position: relative;
            display: block;
            width: 100%;
            color: $clr--main;
            font-size: 1rem;
            font-weight: 500;
            background: transparent;
            padding: 1em 0;
            border: none;
            box-shadow: none;
            transition: box-shadow 400ms ease;
            // Responsive 
            @media screen and (max-width: $mq--xs) {
                font-size: .8125rem;
            }
            
            &:focus {
                outline: none;
            }
        }

        textarea {
            height: 3.75em;
            width: 100%;
            resize: none;
            margin-bottom: .5rem;
        }

        .row {
            position: relative;
        }

        .row--last {
            margin-top: 2rem;
            // Responsive 
            @media screen and (max-width: $mq--md)   {
                margin-top: 1rem;
            }
        }
        
        .screen-reader-response {
            display: none;
        }

        .wpcf7-not-valid-tip {
            position: absolute;
            top: -2.5em;
            z-index: 5;
            display: block;
            width: 100%;
            color: $clr--main;
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 2;
            // Responsive 
            @media screen and (max-width: $mq--xs)   {
                top: -2.25em;
            }
        }

        .wpcf7-response-output {
            color: $clr--main;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 2;
            text-decoration: underline;
            margin-top: 1.25rem;
            // Responsive 
            @media screen and (max-width: $mq--xs)   {
                position: absolute;
                bottom: -3em;
                max-width: 14em;
            }
        }
        
        .acceptance-wrapper {
            display: flex;
            align-items: center;
            // Responsive 
            @media screen and (max-width: $mq--xxs) {
                justify-content: flex-sart;
            }

            span {
                width: 100%;
            }

            label {
                display: flex;
            }

            a {
                color: white;

                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
        
        input[type=checkbox] {
            display: none;
            
            & + .wpcf7-list-item-label {
                cursor: pointer;
                position: relative;
                display: inline-flex;
                align-items: center;
                font-size: .8135rem;
                color: black;
                letter-spacing: 0.21px;
                font-weight: 500;
                text-transform: none;
                border-radius: 0;
                // Responsive 
                @media screen and (max-width: $mq--xs) {
                    font-size: 0.75rem;
                }
                @media screen and (max-width: $mq--xxs) {
                    display: block;
                    padding-left: 0;
                    margin-top: 0;
                }
                
                span {
                    cursor: pointer;
                    position: relative;
                    display: inline-flex;
                    height: 1.5rem;
                    width: 1.5rem;
                    border: 1px solid #dadada;
                    border-radius: 0;
                    margin-right: 1rem;
                    transition: border-color 400ms ease;
                    // Responsive
                    @media screen and (max-width: $mq--xxs) {
                        top: 7px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 100%;
                        background: $clr--main;
                        border: none;
                        border-radius: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 400ms ease;
                        // Responsive
                        @media screen and (max-width: $mq--md) {
                            background-color: #fff;
                        }
                    }
                }

                div {
                    // Responsive
                    @media screen and (max-width: $mq--xs) {
                        margin-left: auto;
                    }
                }
            }

            &:checked {
                
                + .wpcf7-list-item-label span {
                    // Responsive
                    @media screen and (min-width: $mq--md) {
                        border-color: $clr--main;
                        transition: border-color 400ms ease;
                    }

                    &:after {
                        opacity: 1;
                        visibility: visible;
                        transition: all 400ms ease;
                    }
                }
            }
        } 

        .btn-wrapper {
            text-align: right;
            @media screen and (max-width: $mq--xs) {
                margin-top: 3rem;
            }

            .btn {
                font-size: .8135rem;
                text-transform: uppercase;
                letter-spacing: 2.08px;
                line-height: 1.5;
                padding: 1.265em 1.875em;
            }
        }
    }
}

// Stories 
.article--stories {

    header {
        margin-bottom: 10rem;
    }

    .section--testimonials {
        padding: 0;

        .box {
            text-align: center;
            margin-bottom: 5rem;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Homepage
.home {
    position: relative;

    .aside--preFooter {
        padding-top: 14em;
        background: transparent;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 6em;
        left: 0;
        z-index: -1;
        display: flex;
        width: 100%;
        height: 25%;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5FEFE 100%) 0% 0% no-repeat padding-box;
    }
}

.kontakty #contacts {
    display: none;
}