.article--service {
    
    &__intro {
        padding: 9.5em 0 7.5em;

        .introText {
            margin-bottom: 4rem;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: 1.15px;
            margin-bottom: 3rem;
            // Responsive
            @media screen and (max-width: $mq--xs) {
                max-width: 10em;
            }

            &+ p {
                max-width: 57em;
                margin-bottom: 7.5rem;
            }

        }

        .box {
            position: relative;
            flex: 0 1 32%;
            max-width: 32%;
            padding: 4em 1em;
            border: 1px solid #EBEBEB;
            // Responsive 
            @media screen and (max-width: $mq--sm) {
                flex: 0 1 46%;
                max-width: 46%;
                margin-bottom: 4rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            @media screen and (max-width: $mq--xs) {
                flex: 1 1 100%;
                max-width: 100%;
            }

            span {
                position: absolute;
                top: -.25em;
                left: 50%;
                width: 2.25em;
                color: $clr--main;
                font-size: 4rem;
                font-family: $ff--serif;
                font-weight: bold;
                text-align: center;
                line-height: 1;
                letter-spacing: 2.37px;
                transform: translate(-50%, -50%);
                background: white;
            }

            p {
                text-align: center;
                letter-spacing: 0;
                margin-bottom: 0;
            }
        }
    }

    &__way {
        position: relative;
        padding-top: 9.5em;

        .boxes {
            margin-top: 9rem;
        }

        .box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 4.25rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                flex-direction: column;
            }

            &__header {
                position: relative;
                // Responsive
                @media screen and (max-width: $mq--sm) {
                    margin-bottom: 2.125rem;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 180%;
                    left: 50%;
                    z-index: -2;
                    display: block;
                    width: 2px;
                    height: 175%;
                    background: url('../img/separator-dashed.svg') center repeat;
                    background-size: contain;
                    transform: translate(-50%, -55%);
                    // Responsive
                    @media screen and (max-width: $mq--sm) {
                        content: none;
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    height: 150%;
                    background: white;
                    background-size: contain;
                    transform: translate(-50%, -50%);
                    // Responsive
                    @media screen and (max-width: $mq--md) {
                        top: 92.5%;
                    }
                    @media screen and (max-width: $mq--sm) {
                        content: none;
                    }
                }
            }

            &__body {
                flex: 0 1 77.25%;
                max-width: 77.25%;
                // Responsive 
                @media screen and (max-width: $mq--sm) {
                    flex: 1 1 100%;
                    max-width: 100%;
                }
            }

            h3 {
                font-size: 2rem;
                letter-spacing: 1.15px;
                margin-bottom: 2rem;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    max-width: 15em;
                }
            }

            p {
                margin-bottom: 0;
            }

            &:last-of-type {
                margin-bottom: 0;

                .box__header:before {
                    content: none;
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 100%;
            height: 25em;
            background: transparent linear-gradient(0deg, #FFFFFF 0%, #F5FEFE 100%) 0% 0% no-repeat padding-box;
            // Responsive
            @media screen and (min-width: $mq--xxl) {
                height: 30em;
            }
        }
    }

    .section--about {
        height: 31.5em;
        margin: 10.5em 0;
        // Responsive
        @media screen and (min-width: $mq--xxl) {
            height: 37.5em;
        }
        @media screen and (max-width: $mq--sm) {
            height: auto;
            margin: 7.5rem 0;
        }

        h2 {
            font-size: 2.5rem;
            letter-spacing: 1.48px;
            margin-bottom: 2.5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                font-size: 1.75rem;
            }
        }

        p {
            color: $clr--main;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        &__content {
            position: relative;
            // Responsive
            @media screen and (min-width: $mq--xs) and (max-width: $mq--sm) {
                padding: 0 4em;
            }
            @media screen and (max-width: $mq--xs) {
                margin-top: 3em;
            }

            &:before {
                content: "";
                position: absolute;
                top: -3.5em;
                left: -5.25em;
                display: block;
                width: 4.5em;
                height: 3.5em;
                background: url("../img/test-up.svg") center no-repeat;
                background-size: contain;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    width: 3em;
                    height: 2em;
                    top: -2em;
                    left: -4em;
                }
                @media screen and (max-width: $mq--sm) {
                    top: -2em;
                    left: 0;
                }
                @media screen and (max-width: $mq--xs) {
                    top: -3em;
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -1.5em;
                right: .5em;
                display: block;
                width: 4.5em;
                height: 3.5em;
                background: url("../img/test-down.svg") center no-repeat;
                background-size: contain;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    width: 3em;
                    height: 2em;
                    bottom: 0em;
                }
                @media screen and (max-width: $mq--sm) {
                    bottom: 0em;
                    right: 2.5em;
                }
            }
        }

        &__bg:after {
            content: none;
        }
    }

    &__program {

        .col-lg-4 {
            // Responsive
            @media screen and (min-width: $mq--md) {
                padding-top: 2em;
            }
        }

        .col-lg-8 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            // Responsive
            @media screen and (max-width: $mq--md) {
                margin-top: 4rem;
                align-items: flex-start;
            }
            @media screen and (max-width: $mq--xs) {
                margin-top: 3rem;
            }
        }

        ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;

            li {
                padding-left: 3em;
                margin-bottom: 1.5rem;

                img {
                    margin-right: 2rem;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:before {
                    content: "";
                    top: .45em;
                    width: .75em;
                    height: .75em;
                    background: url('../img/icon-check.svg') center no-repeat;
                    background-size: contain;
                }
            }
        }

        p {
            max-width: 45.5em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .introText {
            max-width: 21em;
            line-height: 2.125;
        }

        .btn-wrapper {
            margin-top: 3.5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .btn {
                    text-align: center;
                    width: 20.5em;
                }
            }
        }
        
        .btn--primary {
            margin-right: 3.5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        .row {
            position: relative;
            padding-bottom: 7.5em;
            
            &:before{ 
                content: "";
                position: absolute;
                bottom: 0;
                left: 15px;
                z-index: 1;
                height: 1px;
                width: calc(100% - 30px);
                background: rgba(0,0,0,0.08);
            }
        }
    }
}

.article--service--essences {

    .article--service__program:last-child {
        padding-top: 7.5em;
        
        .col-lg-4 {
            padding-top: 1.25em;
        }

        .col-lg-8 {
            // Responsive
            @media screen and (min-width: $mq--sm) {
                padding-right: 2.25em;
            }
            
            ul li {
                max-width: 44em;
            }
        }
    }
}

.article--service--coaching {
   
    .article--service__way .box {
        padding-bottom: 7.5rem;


        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .pWrapper {
        position: relative;
        display: flex;
        overflow: hidden;

        img {
            position: relative;
            left: 0;
            margin-left: -1.5rem;
            margin-right: 1.85rem;
            transform: translateZ(0);
            transition: margin 350ms ease;
        }

        span, img {
            display: inline-flex;
        }

        &:hover img {
            margin-left: 0rem;
            transition: margin 350ms ease;
        }
    }
}