// -----------------------------------------------------------------------------
// This file contains styles of forms
// -----------------------------------------------------------------------------

::placeholder {
    color: black;
    font-size: .9375rem;
    font-weight: normal;
    letter-spacing: 0;
}

input, textarea, select {
    position: relative;
    display: block;
    width: 100%;
    color: black;
    font-size: .9375rem;
    font-weight: normal;
    background: white;
    padding: .75em 1em;
    border: 1px solid $clr--border;
    box-shadow: none;

    &:focus {
        outline: none;
    }
}

select, .menu-665 {
    width: 100%;
    border: 0;
    -webkit-appearance:none;
    position: relative;
    display: block;
    width: 100%;
    color: black;
    font-size: .9375rem;
    font-weight: normal;
    background: white;
    padding: 0 1em;
    border: 1px solid $clr--border;
    border-radius: 0;
    box-shadow: none;
    // Responsive
    @media screen and (max-width: $mq--sm) {
        font-size: 1rem;
    }
    @media screen and (max-width: $mq--xs) {
        font-size: .875rem;
    }
}

textarea {
    height: 4.5em;
    width: 100%;
    resize: none;
}


.wpcf7 {
    
    input, textarea {
        position: relative;
        display: block;
        width: 100%;
        color: $clr--body;
        font-size: 1rem;
        font-weight: 500;
        background: transparent;
        padding: 1em 0;
        border: none;
        box-shadow: none;
        transition: box-shadow 400ms ease;
        // Responsive 
        @media screen and (max-width: $mq--xs) {
            font-size: .8125rem;
        }
        
        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 3.75em;
        width: 100%;
        resize: none;
        margin-bottom: .5rem;
    }


    // Responsive
    @media screen and (max-width: $mq--md) {
        margin-top: 5rem
    }
    @media screen and (max-width: $mq--xs) {
        margin-top: 2rem
    }

    br {
        display: none;
    }    

    p {
        margin-bottom: 0;
    }

    .box {
        position: relative;
        display: flex;
        margin-bottom: 5rem;
        // Responsive
        @media screen and (max-width: $mq--md) {
            margin-bottom: 3.5rem;
        }
        @media screen and (max-width: $mq--xs) {
            margin-bottom: 2.25rem;
        }

        span {
            width: 100%;
        }

        &--shorter {
            max-width: 90%;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            display: block;
            height: 1px;
            width: 100%;
            background: #DADADA;
            // Responsive
            @media screen and (max-width: $mq--md) {
                background-color: #fff;
            }
            @media screen and (max-width: $mq--xs) {
                background-color: #fff;
                opacity: .2;
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            display: block;
            height: 1px;
            width: 0;
            background: $clr--body;
            border-radius: 50px;
            transition: width 500ms ease;
            // Responsive
            @media screen and (max-width: $mq--md) {
                background-color: #fff;
            }
        }

        &:hover:after, &:focus:after{
            width: 100%;
            transition: width 500ms ease;
        }

        &--1 {
            width: 100%;
            transition: width 800ms ease;
            // Responsive
            @media screen and (max-width: $mq--md) {
                margin-top: 0;
                margin-bottom: 2em;
            }

            &:hover:after, &:focus:after{
                width: 100%;
                transition: width 800ms ease;
            }
        }
    }

    .row {
        position: relative;
    }

    .row--last {
        // Responsive 
        @media screen and (max-width: $mq--md)   {
            margin-top: 1rem;
        }
    }
    
    .screen-reader-response {
        display: none;
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        top: -3em;
        z-index: 5;
        display: block;
        width: 100%;
        color: $clr--main;
        font-size: 0.75rem;
        line-height: 2;
        // Responsive 
        @media screen and (max-width: $mq--md) {
            color: white;
            text-decoration: underline;
        }
        @media screen and (max-width: $mq--xs)   {
            top: -2.25em;
        }
    }

    .wpcf7-response-output {
        color: $clr--main;
        font-size: 0.875rem;
        line-height: 2;
        margin-top: 1.25rem;
        // Responsive 
        @media screen and (max-width: $mq--md) {
            color: white;
            text-decoration: underline;
        }
        @media screen and (max-width: $mq--xs)   {
            position: absolute;
            bottom: -3em;
            max-width: 14em;
        }
    }
    
    .acceptance-wrapper {
        display: flex;
        align-items: center;
        // Responsive 
        @media screen and (max-width: $mq--xxs) {
             justify-content: flex-sart;
        }

        span {
            width: 100%;
        }

        label {
            display: flex;
        }

        a {
            color: white;

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }
    
    input[type=checkbox] {
        display: none;
        
        & + .wpcf7-list-item-label {
            cursor: pointer;
            position: relative;
            display: inline-flex;
            align-items: center;
            font-size: .875rem;
            font-weight: 500;
            text-transform: none;
            // Responsive 
            @media screen and (max-width: $mq--md) {
                color: white;
            }
            @media screen and (max-width: $mq--xs) {
                font-size: 0.75rem;
            }
            @media screen and (max-width: $mq--xxs) {
                display: block;
                padding-left: 0;
                margin-top: 0;
            }
            
            span {
                cursor: pointer;
                position: relative;
                display: inline-flex;
                height: 1.5rem;
                width: 1.5rem;
                border: 1px solid #dadada;
                border-radius: 50%;
                margin-right: 1rem;
                transition: border-color 400ms ease;
                // Responsive
                @media screen and (max-width: $mq--xxs) {
                    top: 7px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    height: .9rem;
                    width: .9rem;
                    background: $clr--main;
                    border: none;
                    border-radius: 50%;
                    opacity: 0;
                    visibility: hidden;
                    transform: translate(-50%, -50%);
                    transition: all 400ms ease;
                    // Responsive
                    @media screen and (max-width: $mq--md) {
                        background-color: #fff;
                    }
                }
            }

            div {
                // Responsive
                @media screen and (max-width: $mq--xs) {
                    margin-left: auto;
                }
            }
        }

        &:checked {
            
            + .wpcf7-list-item-label span {
                // Responsive
                @media screen and (min-width: $mq--md) {
                    border-color: $clr--main;
                    transition: border-color 400ms ease;
                }

                &:after {
                    opacity: 1;
                    visibility: visible;
                    transition: all 400ms ease;
                }
            }
        }
    } 

    .btn-wrapper {
        text-align: right;
        @media screen and (max-width: $mq--xs) {
            margin-top: 3rem;
        }

        .btn {
            display: inline-flex;
            text-transform: none;
            padding: 0;
            margin-left: auto;
            // Responsive
            @media screen and (max-width: $mq--md) {
                color: white;
            }
    
            span {
                display: inline-flex;
                height: 2.75em;
                width: 2.75em;
                align-items: center;
                background: $clr--main;
                border-color: $clr--main;
                transform: translateX(0);
                transition: all 400ms ease;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    background: white;
                    border-color: white;

                    svg path {
                        stroke: $clr--main;
                        transition: all 400ms ease;
                    }
                }
            }

            &:hover {

                span {
                    background: transparent;
                    transition: all 400ms;

                    svg path {
                        stroke: $clr--main;
                        transition: all 400ms ease;

                        // Responsive
                        @media screen and (max-width: $mq--md) {
                            stroke: white;
                        }
                    }
                }
            }
        }
    }
}