// -----------------------------------------------------------------------------
// This file contains styles of socials
// -----------------------------------------------------------------------------

.social {
    position: relative;
    z-index: 2;
    display: inline-flex;
    list-style: none;
    padding-left: 0;

    li {
        display: inline-flex;
        opacity: 0;

        img {
            height: 0.75rem;
            width: auto;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &--menu {
        margin-left: auto;
        // Responsive 
        @media screen and (max-width: $mq--lg) {
            display: none;
        }

        li {
            position: relative;
            margin-right: 2rem;

            a {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    height: 2.25rem;
                    width: 2.25rem;
                    background: rgba($clr--main, .025);
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 500ms ease;
                }
            }

            &:hover a:before {
                opacity: 1;
                transition: opacity 500ms ease;
            }
        }
    }

    &--footer {
        display: block;
        margin-top: 9rem;
        // Responsive
        @media screen and (max-width: $mq--md) {
            margin-top: 3rem;
        }

        li {
            margin-right: .5rem;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 2.5em;
                width: 2.5em;
                border: 1px solid rgba(white, .2);
                border-radius: 50%;
                transition: 350ms ease;

                img {
                    height: 0.65rem;
                    filter: brightness(0) invert(1);
                }

                &:hover {
                    border-color: white;
                }
            }
        }
    }
}