// WidgetArea
.aside--preFooter {
    padding: 10em 0 3.5em;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5FEFE 100%) 0% 0% no-repeat padding-box;
    
    .introText {
        text-align: center;
        margin-bottom: 4rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            margin-bottom: 3.5rem;
        }

        &:before {
            top: -3.5em;
            left: 49%;
            transform: translateX(-50%);
        }
    }

    .col-md-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 1.9735rem;
        text-align: center;
        margin-bottom: 2rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            max-width: 13em;
            font-size: 1.5rem;

            br {
                display: none;
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li{
            display: inline-block;

            &:first-child {
                margin-right: 2.5rem;
            }
        }

        a {
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: underline;
            }
        }

        &:first-of-type {
            // Responsive 
            @media screen and (max-width: $mq--xs) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li:first-child {
                margin-right: 2.5rem;
                // Responsive 
                @media screen and (max-width: $mq--xs) {
                    margin-right: 0;
                }
            }

            a {
                font-size: 1.125rem;
            }

            img {
                margin-right: 1rem;
            }
        }

        &:last-of-type {

            a {
                position: relative;
                display: -webkit-box;
                align-items: center;
                justify-content: center;

                &:hover:before { 
                    opacity: 1;
                    transition: 350ms ease;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: -1;
                    display: flex;
                    width: 2em;
                    height: 2em;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    opacity: 0;
                    transform: translate(-50%, -50%);
                    transition: 350ms ease;
                }
            }
        }
    }

    p {
        margin: 2rem 0 2.5rem;
    }

    .btn-wrapper {
        margin-bottom: 3rem;
    }
}

// Sidebar
.aside--sidebar {
    position: sticky;
    top: 7em;
    background: #F1FEFE;
    padding: 2em;

    .screen-reader-text {
        display: none;
    }

    .block {
        position: relative;
        padding: 1.375em 0;
        border-bottom: 1px solid #39C3C533;

        &--search {
            padding: 0;
            border: none;
            padding: .75em .75em 0;
            margin-bottom: 1.5rem;
            overflow: hidden;

            label {
                display: flex;
                width: 100%;
                box-shadow: 0px 10px 20px #39C3C51A;
                overflow: hidden;
            }

            input[type="search"] {
                font-size: 0.8125rem;
                width: 100%;
                padding: 1.25em 2em;
                border: none;

                &::placeholder {
                    font-size: 0.8125rem;
                }
            }

            a {
                position: absolute;
                right: 1em;
                z-index: 3;
                height: 3.675em;
                width: 3.675em;
                display: flex;
                background: url("../img/icon-zoom.svg") center no-repeat;
                border-radius: 0;
                text-indent: -1000px;
            }
        }

        &--category {

            .block__body {
                display: none;
                width: 100%;
                max-height: 9.5em;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 8px;
                    transition: all 350ms ease;
                }
                
                &::-webkit-scrollbar-track {
                    background: rgba(0, 194, 197, .1); 
                    transition: all 350ms ease;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #00C2C5; 
                    transition: all 350ms ease;
                }
            }

            label {
                position: relative;
                display: flex;
                width: 100%;
                align-items: center;
                letter-spacing: 0;
                margin-bottom: 1rem;

                div {
                    position: relative;
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    border: 1px solid black;
                    margin-right: 1.5rem;
                    transition: border 350ms ease;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 2;
                        display: block;
                        width: .65rem;
                        height: .65rem;
                        background: #00C2C5;
                        opacity: 0;
                        transform: translate(-50%, -50%);
                        transition: opacity 350ms ease;
                    }
                }

                span {
                    order: 2;
                    font-size: 0.8125rem;
                }

                input {
                    position: absolute;
                    right: 0;
                    z-index: 3;
                    height: 100%;
                    width: 100%;
                    text-align: right;
                    opacity: 0;

                    &:checked {

                        + div {
                            border-color: #00C2C5;
                            transition: border 350ms ease;

                            &:after {
                                opacity: 1;
                                transition: opacity 350ms ease;
                            }
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:hover {
                    cursor: pointer; 

                    div {
                        cursor: pointer; 
                        border-color: #00C2C5;
                        transition: border 350ms ease;
                    }

                    input {
                        cursor: pointer; 
                    }
                }
            }
        }

        &--reset {
            padding-top: 1em;
            padding-bottom: 0.5em;
            border: 0;

            img {
                width: 1rem;
                margin-right: 1.5rem;
            }

            #resetFilter {
                cursor: pointer;
                display: inline-block;
            }
        }

        &:nth-child(5) {
            border: none;
        }

        ul {
            margin-bottom: 0;
        }

        li, a, span {
            font-size: 0.8125rem;
        }

        &__header {
            cursor: pointer;

            &.is-active h2:before {
                transform: rotate(180deg);
                transition: transform 350ms ease;
            }
        }

        &__body {
            display: none;
            margin-top: 2em;
        }
    }
}