// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer--main {
    position: relative;
    background: white;
    padding: 2.65em 0;
    // Responsive 
    @media screen and (min-width: $mq--xl) {

        .col-lg-3:nth-child(2) {
            padding-left: 4%;
        }
    
        .col-lg-4 {
            padding-left: 7.5%;
        }
    }
    @media screen and (max-width: $mq--sm) {
        text-align: center;
        padding: 3em 0 2.5em;
    }

    li, a {
        color: black;
        font-size: 0.8125rem;
        // Responsive 
        @media screen and (max-width: $mq--sm) {
            font-size: .875rem;
        }
    }

    a:hover {
        color: $clr--main;
    }

    .col-md-3 {
        display: flex;
        align-items: center;
        // Responsive 
        @media screen and (max-width: $mq--sm) {
            display: none;
        }
        @media screen and (max-width: $mq--xs) {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .col-md-9 {
        display: -webkit-box;
    }

    ul {
        padding-left: 0;
        list-style: none;
        margin-left: auto;
        margin-bottom: 0;
        // Responsive 
        @media screen and (max-width: $mq--lg) {
            margin-left: 0;
            width: 100%;
        }
        @media screen and (max-width: $mq--md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media screen and (max-width: $mq--xs) {
            flex-direction: column;
            align-items: center;
        }

        li {
            display: inline-flex;
            margin-right: 5rem;
            // Responsive 
            @media screen and (max-width: $mq--lg) {

                &:last-child {
                    display: none;
                }
            }
            @media screen and (max-width: $mq--md) {
                margin-right: 0;
            }
            @media screen and (max-width: $mq--xs) {
                margin-bottom: .5rem;

                &:first-child {
                    order: 1;
                }

                &:last-child {
                    display: block;
                    order: 2;
                    margin-top: 1rem;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    #logoFooter {
        display: inline-flex;
        margin: auto 0;
        line-height: 1;
    }
}