// -----------------------------------------------------------------------------
// This file contains styles of sections 
// -----------------------------------------------------------------------------

.section {
    position: relative;
    z-index: 1;

    h2 {
        margin-bottom: 2rem;
    }

    &__content {
        margin-top: 5rem;
        // Responsive   
        @media screen and(max-width: $mq--md) {
            margin-top: 3.5rem;
        }
    }
}

// Hello
.section--hello {
    position: relative;
    display: flex;
    align-items: center;
    height: 45em;
    // Responsive
    @media screen and (max-width: $mq--xl) {
      height: 40em;
    }
    @media screen and (max-width: $mq--md) {
      height: 36.5em;
    }
    @media screen and (max-width: $mq--xs) {
      height: 34em;
    }

    h1 {
        max-width: 7.25em;
        font-size: 4.875rem;
        line-height: 1.15;
        font-weight: normal;
        margin-bottom: 3rem;
        // Responsive
        @media screen and (max-width: $mq--md) {
            font-size: 3.5rem;
        }
        @media screen and (max-width: $mq--sm) {
          font-size: 3rem;
        }
        @media screen and (max-width: $mq--xs) {
          font-size: 2.5rem;
          margin-bottom: 1.75rem;
        }
    }

    p {
        max-width: 33em;
        margin-bottom: 3.5rem;
        // Responsive
        @media screen and (max-width: $mq--md) {
          max-width: 24em;
        }
        @media screen and (max-width: $mq--xs) {
          margin-bottom: 2.5rem;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        display: block;
        width: 61.5%;
        height: 100%;
        // Responsive 
        @media screen and (max-width: $mq--xl) {
            width: 65%;
        }
        @media screen and (max-width: $mq--xs) {
            width: 75%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 322px;
            background: transparent linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%) 0% 0% no-repeat padding-box;
            // Responsive 
            @media screen and (max-width: $mq--md) {
                background: transparent linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .75) 100%) 0% 0% no-repeat padding-box;
            }
            @media screen and (max-width: $mq--xs) {
                width: 100%;
                background: transparent linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .85) 100%) 0% 0% no-repeat padding-box;
            }
        }
    }
}

// Intro
.section--intro {
    padding: 8.25em 0;
    // Responsive
    @media screen and (max-width: $mq--xs) {
        padding-bottom: 4.5em;
    }

    .row:first-child .col-md-12 {
        display: flex;
        flex-direction: column;
    }

    .introText {
        margin-bottom: 5rem;
    }

    h2 {
        max-width: 18em;
        font-size: 2rem;
        margin-bottom: 3rem; 
        // Responsive
        @media screen and (max-width: $mq--xs) {   
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    h3 {
        max-width: 12.75em;
        font-size: .9375rem;
        font-family: $ff--sans;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.67px;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            max-width: 11em;
        }
    }
    
    .img-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    p {
        max-width: 35.575em;
    }

    &__benefits {
        margin-top: 4.75rem;
    }

    .boxes {
        justify-content: space-between;
        // Responsive   
        @media screen and(max-width: $mq--md) {
            justify-content: flex-start;
        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 18.5%;
            flex: 0 1 18.5%;    
            // Responsive   
            @media screen and (min-width: $mq--xs) and (max-width: $mq--md) {
                max-width: 31%;
                flex: 0 1 31%;
                margin-right: 3.5%;

                &:nth-child(3) {
                    margin-right: 0;
                }

                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    margin-bottom: 3.5%;
                }
            }
            @media screen and (max-width: $mq--xs) {
                flex: 1 1 48%;
                max-width: 48%;
                margin-right: 4%;
                margin-bottom: 3rem;

                &:nth-child(even) {
                    margin-right: 0;
                }

            }
        }
    }
}

// Services
.section--services {
    background: $clr--main--bg;
    padding: 8.25em 0;

    .introText {
        margin-bottom: 5rem;
    }

    .box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13.25rem;
        // Responsive 
        @media screen and (max-width: $mq--sm) {
            display: flex;
            flex-direction: column;
            margin-bottom: 7rem;
        }

        &__header {
            height: 24.5em;
            flex: 0 1 33em;
            max-width: 33em;
            overflow: hidden;
            // Responsive   
            @media screen and (max-width: $mq--lg) {
                max-width: 45%;
                flex: 0 1 45%;
            }
            @media screen and (max-width: $mq--sm) {
                max-width: 35em;
                height: 60vw;
                flex: unset;
                margin-bottom: 3rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__body {
            flex: 0 1 28.5em;
            max-width: 28.5em;
            // Responsive   
            @media screen and (max-width: $mq--lg) {
                max-width: 50%;
                flex: 0 1 50%;
            }
            @media screen and (max-width: $mq--sm) {
                max-width: 100%;
            }
        }

        &:nth-child(even) {
            // Responsive
            @media screen and (min-width: $mq--sm) {

                .box__header {
                    order: 2;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        max-width: 10em;
        font-size: 2.5rem;
        letter-spacing: 1.48px;
        line-height: 1.225;
        margin-bottom: 1.25rem;
        // Responsive
        @media screen and (max-width: $mq--md) {
            font-size: 2.125rem;
        }

        + span {
            display: block;
            color: $clr--main;
            font-size: 1.125rem;
            letter-spacing: 0.67px;
            margin-bottom: 1rem;
            // Responsive
            @media screen and (max-width: $mq--md) {
                font-size: 1rem;
            }
        }
    }

    p {
        max-width: 25em;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            max-width: 30em;
        }
    }
}

// For you
.section--forYou {
    padding: 9.5em 0;

    .introText {
        text-align: center;
        margin-bottom: 5rem;

        &:before {
            top: -3.5em;
            left: 49%;
            transform: translateX(-50%);
        }
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3.25em;
        border: 1px solid #EBEBEB;

        .img-wrapper {
            height: 7.5em;
            width: 7.5em;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 50%;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.078);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h3 {
            max-width: 12em;
            font-size: 1rem;
            font-family: $ff--sans;
            text-align: center;
            font-weight: 500;
            letter-spacing: 0.67px;
            margin: 2rem auto 0;
        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 5.5rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            flex-direction: column;
            align-items: center;
            margin-top: 4.5rem;
        }

        a {
            width: 15rem;
            text-align: center;
            padding-left: 0;
            padding-right: 0;

            &:first-child {
                margin-right: 4.5rem;
                // Responsive
                @media screen and (max-width: $mq--xs) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                }
            }

            span {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

// Recipes
.section--recipes {
    padding: 3.5em 0;
    // Responsive
    @media screen and (max-width: $mq--xs) {
        padding: 0;
        text-align: center;
    }

    .introText {
        margin-bottom: 5rem;
        // Responsive
        @media screen and (max-width: $mq--xs){
            max-width: 16em;
            text-align: center;
            line-height: 1.5;
            margin: 0 auto 5rem;

            &:before {
                top: -3.5em;
                left: 49%;
                transform: translateX(-50%);
            }
        } 
    }

    h2 {
        margin-bottom: 1.25rem;

        span {
            display: block;
            max-width: 10.5em;
            font-size: 3.125rem;
            font-weight: 500;
            // Responsive
            @media screen and (max-width: $mq--lg) {
                max-width: 7.5em;
            }
            @media screen and (max-width: $mq--md) {
                font-size: 2.75rem;
            }
            @media screen and (max-width: $mq--xs) {
                margin: 0 auto;
            }
    
            &.colored {
                color: $clr--main;
            }
        }
    }

    p {
        max-width: 25em;
        margin-bottom: 2.75rem;
        // Responsive
        @media screen and (max-width: $mq--sm){
            margin-left: auto;
            margin-right: auto;
        }
    }

    .col-md-6 {
        display: -webkit-box;
        flex-direction: column;
        justify-content: center;
    }

    .btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            align-items: center;
        }

        a {
            width: 14rem;
            text-align: center;
            padding-left: 0;
            padding-right: 0;

            &.btn--secondary {
                margin-bottom: 2rem;
            }

            span {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__img {
        align-items: flex-end;
        // Responsive
        @media screen and (min-width: $mq--xs) and (max-width: $mq--sm) {
            position: absolute;
            top: 1em;
            right: 1em;
            z-index: -1;
            max-width: 25em;
        }
        @media screen and (max-width: $mq--xs) {
            padding: 0;
            margin-top: 5rem;
        }
    }

    img {
        position: relative;
        right: -2em;
        height: 45em;
        width: auto;
        margin-left: auto;
        // Responsive
        @media screen and (max-width: $mq--lg) {
            height: auto;
        }
        @media screen and (max-width: $mq--xs) {
            right: 0;
        }
    }
}

// Testimonials
.section--testimonials {
    padding: 8.25em 0;
    
    .introText {
        text-align: center;
        margin-bottom: 5rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            max-width: 16em;
            line-height: 1.5;
            margin: 0 auto 5rem;
        }

        &:before {
            top: -3.5em;
            left: 49%;
            transform: translateX(-50%);
        }
    }

    .box {
        max-width: 1012px;
        width: 100%;
        padding: 5em;
        border: 1px solid #EBEBEB;
        margin: 0 auto;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            padding: 5em 2em;
        }

        &__header {
            margin-top: 2.5rem;
        }

        &__content {
          max-height: 8.5em;
          height: 100%;
          overflow: hidden;
          transition: height 500ms ease;
          // Responsive
          @media screen and (max-width: $mq--sm) {
            max-height: 9.75em;
            height: 100%;
          }
        }

        a {
            color: black;
            letter-spacing: .9375rem;
            letter-spacing: 0.36px;
            text-decoration: underline;

            &:hover {
                color: $clr--main;
            }
        }

        .img-wrapper {
            height: 7em;
            width: 7em;
            border-radius: 50%;
            margin: 0 auto 2rem;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.078);
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        h3 {
            font-size: 1.6875rem;
            letter-spacing: 1px;
        }

        p {
            max-width: 605px;
            font-style: italic;
            margin: 0 auto;
        }

        span {
            color: $clr--main;
            font-size: 0.8125rem;
            font-weight: 500;
            letter-spacing: 1.3px;
            text-transform: uppercase;
        }

        &:before {
            content: "";
            position: absolute;
            top: 4em;
            left: 4em;
            display: block;
            width: 4.5em;
            height: 3.5em;
            background: url("../img/test-up.svg") center no-repeat;
            background-size: contain;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                width: 3em;
                height: 2em;
                top: 2em;
                left: 2em;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 4em;
            right: 4em;
            display: block;
            width: 4.5em;
            height: 3.5em;
            background: url("../img/test-down.svg") center no-repeat;
            background-size: contain;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                width: 3em;
                height: 2em;
                bottom: 2em;
                right: 2em;
            }
        }
    }

    .btn-wrapper {
        display: -webkit-box;
        justify-content: center;
        margin-top: 5.5rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            margin-top: 4.5rem;
        }
    }
}

// About
.section--about {
    position: relative;
    display: flex;
    align-items: center;
    height: 45em;
    // Responsive
    @media screen and (max-width: $mq--sm) {
        height: auto;
        flex-direction: column;
        margin-bottom: -3rem;
    }

    .col-md-7 {
        position: relative;
        z-index: 2;
        display: flex;
        padding-left: 12.5%;
        // Responsive 
        @media screen and (max-width: $mq--sm) {
            padding-left: 1em;
            margin-top: 6rem;
        }
        @media screen and (max-width: $mq--xs) {
            margin-top: 4rem;
        }
    }

    &__content {
        display: -webkit-box;
        flex-direction: column;
    }

    p {
        max-width: 30em;
        line-height: 32px;
    }

    h2 {
        // Responsive 
        @media screen and (max-width: $mq--sm) {
            font-size: 1.5rem;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 61.5%;
        height: 100%;
        // Responsive   
        @media screen and (max-width: $mq--sm) {
            position: relative;
            order: -1;
            width: 100%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 100%;
            width: 322px;
            background: transparent linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%) 0% 0% no-repeat padding-box;
            // Responsive   
            @media screen and (max-width: $mq--xs) {
                content: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 2.5em;
            right: 15em;
            z-index: 1;
            height: 3em;
            width: 10em;
            background: url("../img/signature.svg") center no-repeat;
            // Responsive 
            @media screen and (max-width: $mq--xl) {
                right: 10%;
            }
            // Responsive   
            @media screen and (max-width: $mq--sm) {
                bottom: 1em;
                right: 2em;
            }
        }
    }
} 

// Offer 
.section--offer {
    padding: 7.5em 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3.25em;
        border: 1px solid $clr--main;
        // Responsive 
        @media screen and (max-width: $mq--xs) {
            padding: 1.75em;
        }
    }

    h2 {
        font-size: 1rem;
        font-family: $ff--sans;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.67px;
        margin-bottom: 0;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            max-width: 26em;
            line-height: 1.75;
            text-align: center;
        }
    }
}

// CTA
.section--cta {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20.375em;
        background: url('../img/cta_bg.jpg') center no-repeat;
        background-size: cover;
        // Responsive 
        @media screen and (min-width: $mq--xs) and (max-width: $mq--md) {
            background-position-x: right; 
        }
        @media screen and (max-width: $mq--xs) {
            padding: 1.75em;
        }
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        letter-spacing: 1.15px;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 2.5rem;
        // Responsive 
        @media screen and (max-width: $mq--xs) {
            text-align: center;
            max-width: 18em;
        }
    }

    &.is-overlayed {

        .section--cta__content {
            position: relative;
            background: url('../img/spagetti.jpg') center no-repeat;
            background-size: cover;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: flex;
                width: 100%;
                height: 100%;
                background: transparent linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(20,30,55,0.2) 20%) 0% 0% no-repeat padding-box;
            }
        }

        h2 {
            color: white;
        }

        h2, .btn-wrapper {
            position: relative;
            z-index: 2;
        }
    }
}