// ------------------------------------------------------------------------------
// This file contains styling of templates for page, post, product, recipe detail
// ------------------------------------------------------------------------------

// Single pages
.article--singlePage {
    padding: 6em 0 2em;
}

// Single recipes
.article--singleRecipe {

    .article__header {
        padding-top: 5em;
        
        &__img {
            margin-bottom: 5rem;
        }

        .col-12 {
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
            @media screen and (max-width: $mq--xs) {
                display: none;
            }

            a {

                span {
                    color: black;
                    font-size: 0.8125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2.08px;
                    margin-left: 1.75rem;
                    transition: color 350ms ease;
                }

                &:hover span {
                    color: $clr--main;
                    transition: color 350ms ease;
                }
            }
        }

        .col-md-12 {
            display: -webkit-box;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
        }
    
        .introText {
            display: inline-flex;
            text-align: center;
            margin: 0 auto 4rem;
    
            &:before {
                top: -3.5em;
                left: 49%;
                transform: translateX(-50%);
            }
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                text-align: center;
            }

            li {
                display: inline-block;
                margin-right: 2.5rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: black;
                    font-size: 0.8125rem;
                    letter-spacing: 0;

                    &:hover {
                        color: $clr--main;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .container--large {
        max-width: 92.5%;
        overflow: hidden;
    }

    h1 {
        text-align: center;
        margin-bottom: 3rem;
    }

    h2 {
        color: $clr--main;
        font-size: 0.875rem;
        font-weight: 600;
        font-family: $ff--sans;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    .article__content .col-md-12 {
        max-width: 55em;    
        margin: 0 auto;
        // Responsive
        @media screen and (min-width: $mq--md) {
            padding-right: 1.925em;
        }
    }

    .col-md-12 {
        display: flex;    
        flex-direction: column;
    }

    .block {
        margin-bottom: 7rem;

        .introText {
            margin-bottom: 4rem;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &__recommendation {
        background: #F1FEFE;
        padding: 2em 3.5em;
        margin-bottom: 4.5rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            padding: 2em;
        }

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    .section--gallery {
        margin-bottom: 7.5rem;
        // Responsive
        @media screen and (max-width: $mq--xs) {
            margin-bottom: 4rem;
        }
    }

    .section--cta {
        
        &__content {
            
            // Responsive
            @media screen and (max-width: $mq--xs) {
                padding: 1.5em 1em;
            }
        }
        
        h2 {
            max-width: 20em;
            font-size: 2rem;
            font-family: $ff--serif;
            font-weight: bold;
            text-transform: unset;
            // Responsive
            @media screen and (max-width: $mq--xs) {
                font-size: 1.5rem;
            }
        }
    }

    .article__footer {
        position: relative;

        #red{
            position: relative;
            padding: 3.475em 0;
            
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 15px;
                display: block;
                width: calc(100% - 30px);
                height: 1px;
                background: rgba(black, .08);
            }
        }

        .col-6 {
            display: -webkit-box;
        }

        #print {

            span {
                color: black;
                font-size: 0.9375rem;
                letter-spacing: 0.36px;
                margin-left: 1.125rem;
                transition: color 350ms ease;
            }

            &:hover span {
                color: $clr--main;
                transition: color 350ms ease;
            }
        }
    }

    .article__date {
        margin-left: auto;
        margin-bottom: 0;
    }
}

// Single products
.article--singleProduct {

    .article__header {
        padding-top: 5em;
        
        &__img {
            margin-bottom: 5rem;
        }

        .col-12 {
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
            @media screen and (max-width: $mq--xs) {
                display: none;
            }

            a {

                span {
                    color: black;
                    font-size: 0.8125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2.08px;
                    margin-left: 1.75rem;
                    transition: color 350ms ease;
                }

                &:hover span {
                    color: $clr--main;
                    transition: color 350ms ease;
                }
            }
        }

        .col-md-12 {
            display: -webkit-box;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
        }
    
        .introText {
            display: inline-flex;
            text-align: center;
            margin: 0 auto 4rem;
    
            &:before {
                top: -3.5em;
                left: 49%;
                transform: translateX(-50%);
            }
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                text-align: center;
            }

            li {
                display: inline-block;
                margin-right: 2.5rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: black;
                    font-size: 0.8125rem;
                    letter-spacing: 0;

                    &:hover {
                        color: $clr--main;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .container--large {
        max-width: 92.5%;
        overflow: hidden;
    }

    h1 {
        max-width: 11.5em;
        text-align: center;
        margin-bottom: 0rem;
    }

    h2 {
        color: $clr--main;
        font-size: 0.875rem;
        font-weight: 600;
        font-family: $ff--sans;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    .article__content .col-md-12 {
        max-width: 55em;    
        margin: 0 auto;
    }

    .col-md-12 {
        display: flex;    
        flex-direction: column;
    }

    .block {
        margin-bottom: 7rem;

        .introText {
            margin-bottom: 4rem;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &__details {
        margin-top: -2rem;

        h2 {
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 0.43px;
            margin-bottom: 0;
        }

        .row {
            position: relative;
            padding: 1.675em 0;
            
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 15px;
                z-index: 1;
                height: 1px;
                width: calc(100% - 30px);
                background: rgba(black, .08%);
                // Responsive 
                @media screen and (max-width: $mq--xl) {
                    right: 10%;
                }
            }

            &:nth-child(4) {
                margin-bottom: 7.5rem;
                // Responsive
                @media screen and (max-width: $mq--sm) {
                    margin-bottom: 4rem;
                }
            
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 15px;
                    z-index: 1;
                    height: 1px;
                    width: calc(100% - 30px);
                    background: rgba(black, .08%);
                    // Responsive 
                    @media screen and (max-width: $mq--xl) {
                        right: 10%;
                    }
                }
            }
        }
    }

    .article--singleProduct__order {
        position: relative;
        padding: 0;
        // Responsive
        @media screen and (max-width: $mq--sm) {
            width: 18.25em;
        }
        
        &:before {
            content: none;
        }

        .col-md-4 {
            display: -webkit-box;
            align-items: center;
            // Responsive
            @media screen and (max-width: $mq--md) {
                display: none;
            }
        }

        #print {
    
            span {
                color: black;
                font-size: 0.9375rem;
                letter-spacing: 0.36px;
                margin-left: 1.125rem;
                transition: color 350ms ease;
            }
    
            &:hover span {
                color: $clr--main;
                transition: color 350ms ease;
            }
        }

        .quantity {
            display: block;
        }

        label, input {
            display: inline-block;
        }

        label {
            position: relative;
            font-size: 0.9375rem;
            top: 1px;
        }

        input {
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: 0.43px;
            width: 6rem;
            padding: .675em 1.5em;
            margin-left: 3.75rem;
            // Responsive
            @media screen and (max-width: $mq--md) {
                margin-left: 7.5%;
            }
        }
    }

    .cart {
        position: relative;
    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;
        // Responsive
        @media screen and (max-width: $mq--md) {
            font-size: 1rem;
            margin-top: -.5rem;
        }
        @media screen and (max-width: $mq--xs) {
            position: static;
            margin-top: 2.75rem;
        }
        @media screen and (max-width: 500px) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .article__date {
        margin-left: auto;
        margin-bottom: 0;
    }
}

// Single posts
.article--singlePost {

    .article__header {
        padding-top: 5em;
        
        &__img {
            margin-bottom: 2.5rem;

            .col-md-12 {
                display: flex;
                height: 40em;
            }

            img {
                display: flex;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        h1 {
            text-align: center;
            margin-bottom: 0;
        }

        .col-12 {
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
            @media screen and (max-width: $mq--xs) {
                display: none;
            }

            a {

                span {
                    color: black;
                    font-size: 0.8125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2.08px;
                    margin-left: 1.75rem;
                    transition: color 350ms ease;
                }

                &:hover span {
                    color: $clr--main;
                    transition: color 350ms ease;
                }
            }
        }

        .col-md-12 {
            display: -webkit-box;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
        }
    
        .introText {
            display: inline-flex;
            text-align: center;
            margin: 0 auto 4rem;
    
            &:before {
                top: -3.5em;
                left: 49%;
                transform: translateX(-50%);
            }
        }
    }

    .container--large {
        max-width: 92.5%;
        overflow: hidden;
    }

    .article__content .col-md-12 {
        max-width: 52em;    
        margin: 0 auto;
    }

    .col-md-12 {
        display: flex;    
        flex-direction: column;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    h3 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    h4 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    h5, h6 {
        font-family: $ff--sans;
        margin-top: 0.5rem;
        margin-bottom: .6rem;
    }
}

// Single stories
.article--singleStory {

    .article__header {
        padding-top: 5em;
        margin-bottom: 3rem;
        
        .img-wrapper {
            height: 12.5em;
            width: 12.5em;
            border-radius: 50%;
            margin-bottom: 2.5rem;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.078);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h1 {
            font-size: 2rem;
            letter-spacing: 1.15px;
            margin-bottom: 0.75rem;
        }

        span {
            color: $clr--main;
            font-size: 1.125rem;
            font-weight: 500;
            letter-spacing: .67px;
            text-transform: uppercase;
        }

        .col-12 {
            position: relative;
            margin-bottom: 5rem;
            // Responsive
            @media screen and (max-width: $mq--sm) {
                margin-bottom: 3rem;
            }
            @media screen and (max-width: $mq--xs) {
                display: none;
            }

            a {

                span {
                    color: black;
                    font-size: 0.8125rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2.08px;
                    margin-left: 1.75rem;
                    transition: color 350ms ease;
                }

                &:hover span {
                    color: $clr--main;
                    transition: color 350ms ease;
                }
            }
        }

        .col-md-12 {
            display: -webkit-box;
            flex-direction: column;
            align-items: center;
        }
    }

    .article__content {

        .row {
            position: relative;
            justify-content: center;
            padding-bottom: 7.5em;
            
            &:before{ 
                content: "";
                position: absolute;
                bottom: 0;
                left: 15px;
                z-index: 1;
                height: 1px;
                width: calc(100% - 30px);
                background: rgba(0,0,0,0.08);
            }
        }

        .col-md-12 {
            position: relative;
            max-width: 38em;
            margin: 0 auto;
            
            &:before {
                content: "";
                position: absolute;
                top: 0em;
                left: -8em;
                display: block;
                width: 4.5em;
                height: 3.5em;
                background: url("../img/test-up.svg") center no-repeat;
                background-size: contain;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    width: 3em;
                    height: 2em;
                    top: 0em;
                    left: -4em;
                }
                @media screen and (max-width: $mq--sm) {
                    left: -3em;
                }
                @media screen and (max-width: 730px) {
                    content: none;
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0em;
                right: -8em;
                display: block;
                width: 4.5em;
                height: 3.5em;
                background: url("../img/test-down.svg") center no-repeat;
                background-size: contain;
                // Responsive
                @media screen and (max-width: $mq--md) {
                    width: 3em;
                    height: 2em;
                    bottom: 0;
                    right: -4em;
                }
                @media screen and (max-width: $mq--sm) {
                    right: -3em;
                }
                @media screen and (max-width: 730px) {
                    content: none;
                }
            }

            p:last-of-type  {
                margin-bottom: 0;
            }
        }
    }
}
